 body{
    margin: 0;
    padding: 0;
} 
.sky{
    background: url("../images/final.jpg");
    width: 100%;
    height: 595px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.boat{
    position: absolute;
    bottom: 20px;
    height: 200px;
    width: 200px;
}
#sail{
    position: absolute;
}
#click{
    background-color: rgb(74, 173, 212);
}
#click button:hover{
    background-color:rgb(177, 192, 221)
}
button {
    background-color: #B8DFD8;
}