 body{
    margin: 0;
    padding: 0;
} 
.sky{
    background: url("../images/riverr.jpg");
    width: 100%;
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
}

.boat{
    position: absolute;
    bottom: 10px;
    height: 120px;
    width: 120px;
    

}
#sail{
    position: absolute;
}